@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');

body {
    font-family: 'Noto Sans Mono';
    background-image: linear-gradient(to right, blue, pink);
}

.calc-container {
    width: fit-content;
    padding: 50px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    /* border: 5px solid black; */
}

button, #display {
    height: 50px;
    box-shadow: 0 0 5px 2px;
    font-family: inherit;
    font-size: large;
}

#display {
    grid-column-start: 1;
    grid-column-end: 5;
}